#header {
	text-align: center;
}

#header h1 {
	font-size: 38px;
	margin-bottom: 80px;
}

.figure {
	text-align: center;
}

h1 {
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;
}

.editer {
	text-align: right;
}
